@model IEnumerable<Banco.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_post }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_post }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_post })
        </td>
    </tr>
}

</table>
