@model IEnumerable<Bienes_Banco.Models.bien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.localizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recamaras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baños)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estacionamientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_construccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.localizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recamaras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baños)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estacionamientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_construccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.likes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_bien }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_bien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_bien })
        </td>
    </tr>
}

</table>
